@import 'tailwindcss';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --background-secondary: #f7f7f7;
    --background-hover: #eeeded;

    --primary: #10b981;
    --primary-hover: #059669;
    --primary-active: #047857;

    --sub-color: #d1fae5;
    --sub-color-hover: #a7f3d0;
    --sub-color-active: #6ee7b7;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-gowun);
  }

  .my-icon {
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1e1e;
    --foreground: #ededed;
    --background-secondary: #302f2f;
    --background-hover: #535252;
  }

  .my-icon {
    color: white;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
  --color-background-hover: var(--background-hover);
  --font-gowun: var(--font-gowun);
  /* 브랜드 컬러 변수 선언 */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);

  --color-sub-color: var(--sub-color);
  --color-sub-color-hover: var(--sub-color-hover);
  --color-sub-color-active: var(--sub-color-active);
}
